.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-flow: row;
}

app-calculadora {
  margin: 5px;
  width: 250px;
  height: 350px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.3);
}

app-cuaderno {
  margin: 5px;
  width: 250px;
  background-color: #fff3d1;
  padding: 20px;
  height: 350px;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.3);
}
